* {
	font-family: Segoe UI Semibold;
}

body {
	padding-top: 60px;
}

#footer {
	text-align: right;
	clear: both;
	font-size: 12px;
}

.bodyheading {
	text-align: center;
	margin: auto;
}

.image-box {
    height: 100%
}